@charset "UTF-8";

:root {
    --cor-playstation: #0000FF;
    --cor-nintendo: #E10915;
    --cor-xbox: #055902;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d13;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive', sans-serif;
    --fonte-android: 'Android', 'cursive', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}